{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container mx-auto my-auto">
    {% include 'navbar.html.twig' %}
    <div class="mx-auto text-center" style="width: 100%; background: whitesmoke;">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1>Register</h1>
        {{ form_start(registrationForm) }}
        <div class="">
            {{ form_row(registrationForm.username, {'attr': {'class': 'mx-5'}}) }}
            {{ form_row(registrationForm.email, {'attr': {'class': 'mx-5'}}) }}
            {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'mx-5'}, label: 'Password'}) }}
            {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'mx-5'}}) }}
        </div>
            <button type="submit" class="btn btn-primary my-2">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
