{% extends 'base.html.twig' %}

{% block title %}Quizzz{% endblock %}

{% block body %}
    <div class="container mx-auto my-auto">
        {% include 'navbar.html.twig' %}
        <div class="mx-auto text-center" style="width: 100%; background: whitesmoke;">
            <img src="{{ asset('img/quiz-page-logo.png') }}" alt="quiz" class="card-img-top">
            <table class="table">
                <thead>
                    <div style="background-color: #343a40; height: 5%; width: 100%">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Interactions</th>
                        </tr>
                    </div>
                </thead>
                <tbody>
                {% for quiz in quizes  %}
                    <tr>
                        <th scope="row">{{ quiz.id }}</th>
                        <td>{{ quiz.name }}</td>
                        <td>{% if quiz.isActive %} Active
                            {% else %} Inactive
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if quiz.isActive %}
                                    <a href="{{ path('quiz_deactivate', {'slug': (quiz.id)}) }}" class="btn btn-primary">Deactivate</a>
                                {% else %}
                                    <a href="{{ path('quiz_activate', {'slug': (quiz.id)}) }}" class="btn btn-primary">Activate</a>
                                {% endif %}
                                <a href="{{ path('quiz_delete', {'slug': (quiz.id)}) }}" class="btn btn-danger">Delete</a>
                                <a href="{{ path('quiz_edit', {'slug': (quiz.id)}) }}" class="btn btn-primary">Edit</a>
                            {% endif %}
                            {% if app.user %}
                                {% if quiz.isActive %}
                                    <a href="/quiz/{{ quiz.id }}/play" class="btn btn-primary">Start</a>
                                {% else %}
                                    Quiz is inactive.
                                {% endif %}
                            <a href="/quiz/{{ quiz.id }}/top" class="btn btn-primary">Top</a>
                                {% else %}
                                You must Log in or Sign up to play.
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {{ knp_pagination_render(quizes) }}
                </tbody>
            </table>
    </div>
{% endblock %}