{% extends 'base.html.twig' %}


{% block title %}Control panel{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/lib/jqeury-datatables.css') }}">
<link rel="stylesheet" href="{{ asset('css/control.css') }}">
{% endblock %}

{% block body %}
    <div class="container mx-auto my-auto">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky">
            <a class="navbar-brand col-lg-1" href="#"><h1>Quizzz</h1></a>
            <div class="collapse navbar-collapse pl-5">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link " href="{{ path('app_home') }}"><h2 class="text-white">Home</h2></a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item active ">
                            <a class="nav-link" href="{{ path('app_users') }}"><h2 class="text-white">Users</h2></a>
                        </li>
                        <li class="nav-item active ">
                            <a class="nav-link" href="{{ path('app_quiz_new') }}"><h2 class="text-white">New quiz</h2></a>
                        </li>
                    {% endif %}
                </ul>
                <div class="nav-item dropdown active my-2 my-lg-0 col-lg-4">
                    {% if is_granted('ROLE_USER') %}
                        <a class="nav-link text-white" href="{{ path('app_logout') }}"><h2>Log out</h2></a>
                    {% else %}
                        <a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h2>Authorization</h2>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('app_login') }}">Already signed? Log in</a>
                            <a class="dropdown-item" href="{{ path('app_register') }}">New around here? Sign up</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_forgot_password_request', {'token': 'x'}) }}">Forgot password?</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="mx-0 text-center " style="width: 100%; background: whitesmoke;">
            <h2 class="text-center pt-3 pb-3">Quiz:<span class="pl-5">Some mega interesting name</span></h2>
            <div class="mt-1 mb-2 d-flex" style="background-color: #343a40; height: 5%; width: 100%">
                <div class="col-lg-1"></div>
                <span class="text-white col-lg-9 text-left" style="font-size: 20px">Already included questions</span>
                <a href="{{ path('app_login') }}" type="button" id="btn1" class="btn btn-primary col-lg-1 text-center" style="height: 100%;">Remove</a>
            </div>
            <table id="included_questions" class="table table-striped table-bordered table-sm" cellspacing="0" style="width: 100%;">
                <thead>
                <tr>
                    <th class="th-sm">Name
                    </th>
                    <th class="th-sm">Position
                    </th>
                    <th class="th-sm">Office
                    </th>
                    <th class="th-sm">Age
                    </th>
                    <th class="th-sm">Start date
                    </th>
                    <th class="th-sm">Salary
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009/01/12</td>
                    <td>$86,000</td>
                </tr>
                <tr>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2012/03/29</td>
                    <td>$433,060</td>
                </tr>
                <tr>
                    <td>Airi Satou</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>33</td>
                    <td>2008/11/28</td>
                    <td>$162,700</td>
                </tr>
                <tr>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2012/12/02</td>
                    <td>$372,000</td>
                </tr>
                <tr>
                    <td>Herrod Chandler</td>
                    <td>Sales Assistant</td>
                    <td>San Francisco</td>
                    <td>59</td>
                    <td>2012/08/06</td>
                    <td>$137,500</td>
                </tr>
                <tr>
                    <td>Rhona Davidson</td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>55</td>
                    <td>2010/10/14</td>
                    <td>$327,900</td>
                </tr>
                </tbody>
            </table>
            <div class="mt-1 mb-2 d-flex" style="background-color: #343a40; height: 5%; width: 100%">
                <div class="col-lg-1"></div>
                <span class="text-white col-lg-6 text-left" style="font-size: 20px">Currently not included questions</span>
                <a href="{{ path('app_login') }}" type="button" id="btn2" class="btn btn-primary col-lg-2 text-center" style="height: 100%;">New question</a>
                <div class="col-lg-1"></div>
                <a href="{{ path('app_login') }}" type="button" id="btn3" class="btn btn-primary col-lg-1 text-center" style="height: 100%;">Add</a>
            </div>
            <table id="not_included_questions" class="table table-striped table-bordered table-sm" cellspacing="0" style="width: 100%;">
                <thead>
                <tr>
                    <th class="th-sm">Name
                    </th>
                    <th class="th-sm">Position
                    </th>
                    <th class="th-sm">Office
                    </th>
                    <th class="th-sm">Age
                    </th>
                    <th class="th-sm">Start date
                    </th>
                    <th class="th-sm">Salary
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009/01/12</td>
                    <td>$86,000</td>
                </tr>
                <tr>
                    <td>Cedric Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2012/03/29</td>
                    <td>$433,060</td>
                </tr>
                <tr>
                    <td>Airi Satou</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>33</td>
                    <td>2008/11/28</td>
                    <td>$162,700</td>
                </tr>
                <tr>
                    <td>Brielle Williamson</td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2012/12/02</td>
                    <td>$372,000</td>
                </tr>
                <tr>
                    <td>Herrod Chandler</td>
                    <td>Sales Assistant</td>
                    <td>San Francisco</td>
                    <td>59</td>
                    <td>2012/08/06</td>
                    <td>$137,500</td>
                </tr>
                <tr>
                    <td>Rhona Davidson</td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>55</td>
                    <td>2010/10/14</td>
                    <td>$327,900</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/lib/jqeury-datatables.js') }}"></script>
    <script src="{{ asset('js/control.js') }}"></script>
{% endblock %}