{% extends 'base.html.twig' %}

{% block title %}Web App - Users{% endblock %}


{% block body %}
    <div class="container mx-auto my-auto">
        {% if app.user.isBlocked %}
        <h1>You have been blocked</h1>
        <h2><a href="{{ path('app_logout') }}">Logout</a></h2>
        {% else %}
        {% include 'navbar.html.twig' %}
        <div class="mx-auto text-center" style="background: whitesmoke;">
            {{ form_start(selectForm) }}
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button type="submit" class="btn" id="block"><img src="{{ asset('svg/lock.svg') }}" alt="block"></button>
                    <button type="submit" class="btn" id="unblock"><img src="{{ asset('svg/unlock.svg') }}" alt="unblock"></button>
                    <button type="submit" class="btn" id="delete"><img src="{{ asset('svg/trash.svg') }}" alt=" delete"></button>
                    <button type="submit" class="btn" id="activate"><img src="{{ asset('svg/sunrise.svg') }}" alt="delete"></button>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="checkbox custom-control-input" id="selectAll" checked>
                            <label class="custom-control-label" for="selectAll"></label>
                        </div>
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Registration date</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users  %}
                    <tr>
                        <td>
                            {{ form_widget(selectForm.selectedUsers.children[user.id]) }}
                        </td>

                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.registrationDate }}</td>
                        <td>{% if user.isBlocked %} Blocked
                            {% elseif user.verified %} Active
                            {% else %} Inactive
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {{ form_end(selectForm) }}
                </tbody>
            </table>
            <div class="navbar-dark bg-dark position-sticky" style=" background: whitesmoke; padding-left: 750px; padding-top: 12px; padding-bottom: 12px">
                {{ knp_pagination_render(users) }}
            </div>
        </div>
    </div>
    {% endif %}
    {% block javascripts %}
        <script src="{{ asset('js/check_all_button.js') }}"></script>
        <script src="{{ asset('js/users.js')}}"></script>
    {% endblock %}
{% endblock %}
